<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <table class="table">
        <tbody>
        <tr>
            <td>E-Mail</td>
            <td><input type="text" id="email"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" id="password"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" id="name"></td>
        </tr>
        <tr>
            <td><button type="button" onclick="join()">가입하기</button></td>
        </tr>
        </tbody>
    </table>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const join = () => {
        let email = document.getElementById("email").value;
        let password = document.getElementById("password").value;
        let name = document.getElementById("name").value;
        let joinUser = {
            email: email
            , password: password
            , name: name
        }
        axios.post("/users", joinUser)
            .then(response => {
                let resultData = response.data;
                alert("회원가입 성공 : " + resultData.email);
            }).catch(e => {
                let errorData = e.response.data;
                alert("회원가입 실패 : [" + errorData.code + "] " + errorData.message);
            });

    }
</script>
</body>
</html>