<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주차장 찾기</title>
</head>
<body>
<div>
    <div id="map" style="width:500px; height:400px; float:left; display: inline-block;"></div>
    <div style="width: 500px; height:400px; float:left; display: inline-block;">
        <ul id="carList" class="list">
        </ul>
    </div>
</div>
<div>
    <input type="number" id="distance"/> km
    <button type="button" onclick="find()">찾기</button>
</div>
<div>
    예약 시작 시간:
    <input type="datetime-local" id="resStartTime"/>
</div>
<div>
    예약 종료 시간:
    <input type="datetime-local" id="resEndTime"/>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script
    src="https://code.jquery.com/jquery-3.7.0.js"
    integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous">
</script>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=96eec6d469afe858efe5d149d21ad681"></script>
<script>
    $(document).ready(() => {
        init();
    });

    let map = null;
    const statusWaiting = "대기";

    const init = () => {
        if (!navigator.geolocation) {
            alert("위치 정보가 지원되지 않습니다.");
            initMap();
            return;
        }
        navigator.geolocation.getCurrentPosition(initMap);
    }

    const initMap = ({ coords }) => {
        let latitude = 33.450701;
        let longitude = 126.570667;

        if (coords) {
            latitude = coords.latitude;
            longitude = coords.longitude;
        }

        const container = $("#map").get(0);
        const center =  new kakao.maps.LatLng(latitude, longitude);

        const options = {
            center: center,
            level: 3
        };

        map = new kakao.maps.Map(container, options);

        makeMyLocation(map);
    }

    const makeMyLocation = (map) => {
        let circle = new kakao.maps.Circle({
            center : map.getCenter(),
            radius: 8, // 미터 단위의 원의 반지름입니다
            strokeWeight: 1, // 선의 두께입니다
            strokeColor: '#00BFFF', // 선의 색깔입니다
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid', // 선의 스타일 입니다
            fillColor: '#00BFFF', // 채우기 색깔입니다
            fillOpacity: 1  // 채우기 불투명도 입니다
        });
        circle.setMap(map);
    }

    const find = () => {
        let center = map.getCenter();
        let latitude = center.getLat();
        let longitude = center.getLng();
        let distance = $("#distance").val();

        axios.get("/zone", {
            params: {
                latitude: latitude,
                longitude: longitude,
                distance: distance
            }
        })
        .then(response => {
            let resultData = response.data;
            let zoneList = resultData.sharingZoneList;

            makeMarkerByZoneList(zoneList);
        }).catch(e => {
            let errorData = e.response.data;
            alert("error : [" + errorData.code + "] " + errorData.message);
        });
    }

    const makeMarkerByZoneList = (zoneList) => {
        if (!zoneList) {
            return false;
        }
        zoneList.forEach(zone => {
            let zoneId = zone.id;
            let location = zone.location;
            let lat = location.latitude;
            let lng = location.longitude;
            makeMarker(zoneId, lat, lng);
        });
    }

    const makeMarker = (zoneId, lat, lng) => {
        let markerPosition  = new kakao.maps.LatLng(lat, lng);

        let marker = new kakao.maps.Marker({
            position: markerPosition
        });

        kakao.maps.event.addListener(marker, 'click', clickMarkerEvent(zoneId));

        marker.setMap(map);
    }

    const clickMarkerEvent = (zoneId) => {
        return () => {
            getCarList(zoneId).then((result) => {
                let resultData = result.data;
                carListRender(resultData.sharingCarList);
            })
        }
    }

    const getCarList = (zoneId) => {

        let resStartTime = $("#resStartTime").val();
        let resEndTime = $("#resEndTime").val();

        return axios.get("/cars", {
                params: {
                    sharingZoneId: zoneId,
                    resStartTime: resStartTime,
                    resEndTime: resEndTime
                }
            })
            .catch(e => {
                let errorData = e.response.data;
                alert("error : [" + errorData.code + "] " + errorData.message);
            });
    }

    function displayReserveButtonByStatus(sharingCarId, price, status) {
        let reserveButton = "";
        if (status === statusWaiting) {
            reserveButton = "<a onclick='reserve(" + sharingCarId + "," + price + ")'>예약하기</a>";
        }
        return reserveButton;
    }

    const carListRender = (carList) => {

        let $carList = $("#carList");
        $carList.empty();
        carList.forEach((car) => {
            let reserveButton = displayReserveButtonByStatus(car.id, car.price, car.status);
            $carList.append(
                "<li>"
                    + "<a class='title'>" + car.model + "<p style='float: right'>" + car.type +"</p></a>"
                    + "<p class='subtitle'>" + car.status + "</p><br/>"
                    + "<p style='float: right;'>" + car.price.toLocaleString() + "원</p>"
                    + reserveButton
                + "</li>"
            )
        });
    }

    const reserve = (sharingCarId, price) => {

        let resStartTime = $("#resStartTime").val();
        let resEndTime = $("#resEndTime").val();

        makePayments(price).then(paymentId => {
            let reservationParam = {
                sharingCarId: sharingCarId,
                resStartTime: resStartTime,
                resEndTime: resEndTime,
                paymentId: paymentId
            }

            axios.post("/reservation", reservationParam)
                .then(response => {
                    let resultData = response.data;
                    alert("예약 성공 : " + response.data);
                }).catch(e => {
                    let errorData = e.response.data;
                    alert("예약 실패 : [" + errorData.code + "] " + errorData.message);
                });
        })
    }

    const makePayments = (price) => {

        let paymentParam = {
            price: price,
        }
        return axios.post("/payment", paymentParam)
            .then(response => {
                let resultData = response.data;
                return resultData.paymentId;
            }).catch(e => {
                let errorData = e.response.data;
                alert("결제 실패 : [" + errorData.code + "] " + errorData.message);
            });
    }

</script>
<style>
  ul.list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul.list li {
    display: flex;
    padding: 15px;
    flex-direction: column;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    background-color: #fff;
    border-left: 4px solid #fff;
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
  }
  ul.list li .title {
    font-weight: bold;
    font-size: 18px;
    position: relative;
    z-index: 1;
    line-height: 24px;
  }
  ul.list li .subtitle {
    position: relative;
    z-index: 1;
    font-size: 14px;
    opacity: 0.7;
  }

  ul.list li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width 0.3s ease;
  }

</style>
</body>
</html>